.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  text-decoration: none;
}

.wrapper img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}

.link:hover {
  color: #2875a9;
}
