.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 430px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}
