.wrapper {
  border-bottom: 1px solid lightgray;
  display: flex;
  padding: 15px 0;
}

.experienceBlock {
  width: 75%;
  padding-right: 15px;
}

.infoBlock {
  width: 25%;
  border-left: 1px solid lightgray;
  padding-left: 15px;
}
