.wrapper {
  margin: 15px 0;
}

.link {
  text-decoration: none;
  color: #2875a9;
}

.link:hover {
  text-decoration: underline;
}

.organization {
  margin: 0;
  color: #767676
}

.years {
  margin: 0;
  color: #767676;
  font-size: 12px;
}