.contactBlock {
  border-bottom: 1px solid lightgray;
  display: flex;
  padding-bottom: 15px;
}

.nameBlock {
  width: 75%;
}

.linksBlock {
  width: 25%;
  border-left: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.textBlock {
  padding: 15px 0;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textBlock img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 15px;
}